/* Table  */

.table-title{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.td-status {
  position: absolute; /* Cambia a posición absoluta */
  bottom: 15px; /* Coloca el estado en la parte inferior */
  right: 5px; /* Coloca el estado en la parte derecha */
  margin: 10px; /* Agrega un margen para separar el estado del borde */
  width: 90px;
  text-align: center;
  border-radius: 8px;
  color: white;
}

.td-status-enable{
  background-color: #4e73df;
}

.td-status-disable{
  background-color: #e74a3b;
}

/* Modal  */

.modal-content{
  padding: 0px 8px;
}

.modal-header{
  padding: 8px 16px !important;
}

.form-group{
  margin-bottom: 16px;
}

.form-button{  
  margin-top: 32px;
  margin-bottom: 16px;

  text-align: center;
}

/* Buttons  */

.btn-new{
  float: right;
  width: 200px;
}

.btn-form{
  width: 200px;
}

.btn-return{
  cursor: pointer;
}

.btn-return:hover{
  color: blue;
}

.modal-close-button{
  border: none;
  background-color: white;
}

.modal-close-button-x{
  color: #8181A5;
  font-size: 32px;
}

.cursor-pointer{
  cursor: pointer;
}

/* Color  */

.color-red{
  color: red;
}

.background-white{
  background-color: white !important;
}

/* Icon  */

.icon-text-button{
  /* font-size: 14px; */
  margin-right: 4px;
  vertical-align:text-bottom;
}

.icon-text-ul{
  font-size: 14px;
  margin-right: 8px;
}

.icon-menu{
  font-size: 14px;
  cursor: pointer;
}

.icon-menu:hover{
  color: blue;
}

/* ul dropdown  */

.dropdown-button{
  border: none;
  background-color: whitesmoke;
}

.dropdown-item{
  color: black !important;
  cursor: pointer;
}

.dropdown-item:hover{
  color: blue !important;
}

.enable-item{
  color: black !important;
  cursor: pointer;
}

.enable-item:hover{
  color: green !important;
}

.disable-item{
  color: black !important;
  cursor: pointer;
}

.disable-item:hover{
  color: red !important;
}

.card {
  margin-left: 3rem;
  margin-right: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #e3e6f0;
  border-radius: 0.35rem;
}
