
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

  <h1>Colaboradores</h1>
    
  <div class="colaboradores">  
    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
                <img src="../../../../../assets/img/usuarioPredet.png" alt="">
            </div>
            <h4>Ruben Acosta</h4>
            <h6>Desarrollador</h6>
            <p>Ruben Acosta Arzate</p>
            <p>No.cuenta: 317205776</p>
            <p>rubenacostaarzate&#64;ciencias.unam.mx</p>
        </div>
        <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://mail.google.com/mail/u/2/?fs=1&to=rubenacostaarzate@ciencias.unam.mx&tf=cm"><i class="fa-brands fa-google"></i></a>
            <a href="https://github.com/rubenAcostaArzate"><i class="fa-brands fa-github"></i></a>
           
        </div>
    </div>

    <div class="card">
        <div class="content">
            <span></span>
            <div class="img">
              <img src="../../../../../assets/img/usuarioPredet.png" alt="">
            </div>
            <h4>Raul Martinez</h4>
            <h6>Desarrollador</h6>
            <p>Raul Eduardo Martinez Damaso</p>
            <p>No.cuenta: 316155063</p>
            <p>raulmartinez&#64;ciencias.unam.mx</p>

        </div>
        <div class="links">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://mail.google.com/mail/u/2/?fs=1&to=raulmartinez@ciencias.unam.mx&tf=cm"><i class="fa-brands fa-google"></i></a>
            <a href="https://github.com/RaulMartinez04"><i class="fa-brands fa-github"></i></a>
          
        </div>
    </div>
  </div>
</body>

