
<div class="card">

  <div>
    <button type="button" {click}="showModalForms()">Nueva categoria</button>
  </div>

    <!-- Table title  -->
  
    <div class="card-header">
      <div class="row">
        <div class="col-md">
          <h2 class="table-title">Categorias</h2>
        </div>
      </div>
    </div>
  
    <!-- Table content -->
  
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th>ID Categoria</th>
            <th>Código</th>
            <th>Categoria</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categories">
            <td>{{ cat.category_id }}</td>
            <td>{{ cat.code }}</td>
            <td>{{ cat.category }}</td>
            <td>{{ cat.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
   
<!--Modal forms--> 

  <div class="modal fade" data-bs-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-ig" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--form-->
          <form [formGroup]="form" (ngSubmit)="onSubmit()" >
             
            <div class="form-group">
              <label for="category">Categoria <span class="color-red">*</span></label>
              <input type="text" class="form-control" formControlName="category" placeholder="Nombre de la categoria...">
              [ngClass]="{'is-invalid': form.controls['category'].errors && submitted}" >
              <div *ngIf="form.controls['category'].errors && submitted">
                <small class="color-red">Favor de ingresar una categoria válida</small>
              </div>
            </div>

            <div class="form-group">
              <label for="code">Código <span class="color-red">*</span> </label>
              <input type="text" class="form-control" formControlName="code" id="code" placeholder="Código de la categoria..." 
                [ngClass]="{'is-invalid': form.controls['code'].errors && submitted}" >
              <div *ngIf="form.controls['code'].errors && submitted">
                <small class="color-red">Favor de ingresar un código de categoria válido</small>
              </div>
            </div>

            <div class="form-button">
              <button type="submit" class="btn btn-primary btn-form">Guardar</button>
            </div>

          </form>



        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Nueva categoria </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>