<link rel="stylesheet" href="https://getbootstrap.com/docs/4.0/components/modal/">
<div class="card">

    <!-- Table title  -->
  
    <div class="card-header">
      <div class="row">
        <div class="col-md">
          <h2 class="table-title">Categorias</h2>
        </div>
      </div>
    </div>
  
    <!-- Table content -->
  
    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr class="table-primary">
            <th>ID Categoria</th>
            <th>Código</th>
            <th>Categoria</th>
            <th>Estatus</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of categories">
            <td>{{ cat.category_id }}</td>
            <td>{{ cat.code }}</td>
            <td>{{ cat.category }}</td>
            <td>{{ cat.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div>
    <button type="submit" data-bs-dismiss></button>
  </div>

  <div class="fade" data-bs-backdrop="static" > 
    <div class="" modal-md></div>
  </div>

  <div>
    <button type="button">Nueva categoria</button>
  </div>